.intro {
  padding: 5rem;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }

  &__img {
    display: block;
    max-width: 100%;
    overflow: hidden;
  }

  &__icon > svg {
    height: 4rem;
    width: 4rem;
    fill: $color-primary;
  }
}

.about {
  padding: 5rem;

  &__container {
    background-color: $color-primary-dark;
    color: $color-tertiary;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 2rem;
  }

  &__image {
    border: 2px $color-tertiary solid;
    padding: 2rem;
  }

  &__img {
    display: block;
    max-width: 100%;
    overflow: hidden;
  }
}

.products {
  padding: 5rem;

  &__heading {
    text-transform: uppercase;
    text-align: center;
  }

  &__container {
    // width: 90vw;
    // margin: 0 auto;
    // max-width: 1170px;
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    // grid-column-gap: 1.5rem;
    // grid-row-gap: 2rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    border: 1px solid $color-primary;
  }

  &__image {
    overflow: hidden;
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__title {
    text-align: center;
  }

  &__price {
    text-align: center;
  }
}

.footer {
  padding: 5rem;

  &__container {
    background-color: $color-primary;
    color: $color-tertiary;
    padding: 3rem;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
  }

  &__icon > svg {
    height: 3rem;
    width: 3rem;
    fill: $color-tertiary;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__links {
    list-style: none;
  }

  &__link:link,
  &__link:visited {
    color: $color-tertiary;
    text-decoration: none;
    transition: all 0.3s;
  }

  &__link:hover,
  &__link:active {
    color: $color-secondary;
  }
}
