.intro {
  padding: 5rem;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 56.25em) {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(2, 1fr));
      gap: 3rem;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }

  &__img {
    display: block;
    max-width: 100%;
    overflow: hidden;

    @media (min-width: 56.25em) {
      height: 50rem;
    }

    @media (min-width: 75em) {
      height: 70rem;
    }
  }

  &__icon > svg {
    height: 4rem;
    width: 4rem;
    fill: $color-primary;
  }
}

.about {
  padding: 5rem;

  &__container {
    background-color: $color-primary-dark;
    color: $color-tertiary;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 2rem;

    @media (min-width: 56.25em) { 
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(2, 1fr));
      gap: 5rem;
    }
  }

  &__image {
    border: 2px $color-tertiary solid;
    padding: 2rem;
  }

  &__img {
    display: block;
    max-width: 100%;
    overflow: hidden;
  }
}

.products {
  padding: 5rem;

  &__heading {
    text-transform: uppercase;
    text-align: center;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 5rem;

    @media (min-width: 56.25em) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5rem;
    }
  }

  &__box {
    border: 1px solid $color-primary;
  }

  &__btn {
    float: right;
    background: none;
    border: none;
    cursor: pointer;
  }

  &__icon > svg {
    height: 2rem;
    width: 2rem;
    fill: $color-primary;
  }

  &__image {
    overflow: hidden;
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__title {
    text-align: center;
  }

  &__price {
    text-align: center;
  }
}

.cart {
  //position: fixed;
  // top: 0;
  // right: 0;
  // width: 10vw;
  // min-width: 30rem;
  // height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  //transform: translateX(100%);
  transition: all 0.5s linear;
  background: $color-secondary;
  z-index: 7000;
  visibility: hidden;

  &__container {
    position: fixed;
    // top: 0;
    // right: 0;
    // width: 10vw;
    // min-width: 30rem;
    //position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    // transform: translateX(100%);
    //height: 100%;
    overflow: scroll;
    z-index: 8000;
    background: $color-tertiary;
    padding: 1.5rem;
    transition: all 0.5s linear;
    transform: translateX(100%);
  }

  &__icon > svg {
    height: 2rem;
    width: 2rem;
    fill: $color-primary;
  }

  &__heading {
    text-align: center;
  }

  &__items {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;
  }

  &__image {
    width: 7rem;
    height: 7rem;
  }
}

.footer {
  padding: 5rem;

  &__container {
    background-color: $color-primary;
    color: $color-tertiary;
    padding: 3rem;
  }

  &__icon > svg {
    height: 3rem;
    width: 3rem;
    fill: $color-tertiary;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__links {
    list-style: none;
  }

  &__link:link,
  &__link:visited {
    color: $color-tertiary;
    text-decoration: none;
    transition: all 0.3s;
  }

  &__link:hover,
  &__link:active {
    color: $color-secondary;
  }
}

.reveal {
  transform: translateX(0);
}

.transparent {
  visibility: visible;
}
